body {
  background-color: black;
  color: whitesmoke;
  font-family: "Gruppo", cursive;
}

.header {
  text-align: center;
  font-size: 200%;
}

.responsive {
  width: 100%;
  height: auto;
}

.questions {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  font-family: "Gruppo", cursive;
  text-align: center;
}

a {
  color: whitesmoke;
}

@media (min-width: 992px) {
  .lemmon {
    max-width: 55%;
    height: auto;
    text-align: center;
    margin: auto;
  }
}
