body {
    background-color: black;
    color: whitesmoke;
}

img { 
    width: auto;
    height: 100px;
    }

#stage {
    display: flex;
    flex-direction: column;
    text-align: center;
   }

.info {
    font-size: 30px;
    font-family: 'Gruppo', cursive;
    text-align: center;
}   

.nav {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-family: 'Gruppo', cursive;
    text-align: center;
    
    }

a {color: whitesmoke;}

@media (min-width: 992px) {

    #stage {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
       }

    img { 
        width: 100%;
        height: auto;
        }
        a {font-size: 20px;
        }
}